<div class="">
    <!-- first left div with city names, points checkboxes , radio buttons -->
    <div class="col-lg-3 borderAlign">
        <div class="row highLowDiv">
            <div class="col-lg-5" style="border: 2px solid black; background-color:#ababb3;">
                <span> F2 (HIGH)</span>
            </div>
            <div class="col-lg-5" style="border: 2px solid black;background-color: #bedab1;margin-left: 3px;">
                <span> F3 (LOW)</span>
            </div>
        </div>
        <div class="row highLowDiv">
            <div class="col-lg-12"></div>
        </div>
        <div class="row highLowDiv" *ngFor="let k of objectKeys(object);let i = index">            
            <div class="col-lg-5" [style.background-color]="getBgColor(object[k])" style="border: 1px solid black;">
                <span> {{object[k].cityCode}}</span>
            </div>
            <div class="col-lg-6" [style.background-color]="getBgColor(object[k])" style="margin-left: 3px;">
                <input type="checkbox" style="float: left;" [(ngModel)]="object[k].checked" /><span style="float: left;">{{object[k].pts}}</span> 
                <input type="radio" id="radio{{i}}" name="radioBtn" (change)="checkedRadioBtn(object[k],i)" [checked]="object[k].checked"/><span>{{object[k].number}}</span>
            </div>
        </div>
        <div class="row highLowDiv">
            <div class="col-lg-12"></div>
        </div>
        <div class="row highLowDiv">
            <button class="col-lg-5 printBtn">F6 Print</button>
            <button style="margin-left: 3px;" class="col-lg-5 resetBtn">F8 Reset</button>
        </div>
    </div>
    <!-- first div ends -->

    <!-- second middle div with number series and 10 input fields each row -->
    <div class="col-lg-7" style="padding: 5px;">        
        <table class="row" style="margin-left: -5px;margin-right: -5px;">
            <tr>
                <input type="checkbox" id="checkAll" [(ngModel)]="isCheckAll" (change)="selectAllPoints()"/><label for="checkAll">All</label>
                <td *ngFor="let num of items;let i =index;">                    
                    <input type="text" class="table-input" (keyup)="onKey($event, i, 'colClicked')" 
                    [(ngModel)]="num.value"/>                    
                </td>
            </tr>
            <tr>
                <td><span class="visible-hidden">0000 </span><input type="text" class="table-input" (keyup)="onKey($event, 0, 'rowClicked')"/></td>
                <td *ngFor="let colVal of utilityService.numSeriesArray.col0; let i = index;">
                    <span>{{colVal}}</span>
                    <input *ngIf="colClicked" type="text" class="table-input" value="{{items[i].colVal}}" (keyup)="calculateQuantityAndPrice($event)"/>
                    <input id="row{{i}}" *ngIf="rowClicked" type="text" class="table-input" value="{{items[i].rowVal}}"/>
                </td>
            </tr>
            <tr>
                <td><span class="visible-hidden">0000 </span><input type="text" class="table-input" (keyup)="onKey($event, 1, 'rowClicked')"/></td>
                <td *ngFor="let colVal of utilityService.numSeriesArray.col1; let i = index;">
                    <span >{{colVal}}</span>
                    <input *ngIf="colClicked" type="text" class="table-input" value="{{items[i].colVal}}" (keyup)="calculateQuantityAndPrice($event)"/>
                    <input id="row{{i}}" *ngIf="rowClicked" type="text" class="table-input" value="{{items[i].rowVal}}"/>
                </td>
            </tr>
            <tr>
                <td><span class="visible-hidden">0000 </span><input type="text" class="table-input" (keyup)="onKey($event, 2, 'rowClicked')"/></td>
                <td *ngFor="let colVal of utilityService.numSeriesArray.col2; let i = index;">
                    <span >{{colVal}}</span>
                    <input *ngIf="colClicked" type="text" class="table-input" value="{{items[i].colVal}}" (keyup)="calculateQuantityAndPrice($event)"/>
                    <input id="row{{i}}" *ngIf="rowClicked" type="text" class="table-input" value="{{items[i].rowVal}}"/>
                </td>
            </tr>
            <tr>
                <td><span class="visible-hidden">0000 </span><input type="text" class="table-input" (keyup)="onKey($event, 3, 'rowClicked')"/></td>
                <td *ngFor="let colVal of utilityService.numSeriesArray.col3; let i = index;">
                    <span >{{colVal}}</span>
                    <input *ngIf="colClicked" type="text" class="table-input" value="{{items[i].colVal}}" (keyup)="calculateQuantityAndPrice($event)"/>
                    <input id="row{{i}}" *ngIf="rowClicked" type="text" class="table-input" value="{{items[i].rowVal}}"/>
                </td>
            </tr>
            <tr>
                <td><span class="visible-hidden">0000 </span><input type="text" class="table-input" (keyup)="onKey($event, 4, 'rowClicked')"/></td>
                <td *ngFor="let colVal of utilityService.numSeriesArray.col4; let i = index;">
                    <span >{{colVal}}</span>
                    <input *ngIf="colClicked" type="text" class="table-input" value="{{items[i].colVal}}" (keyup)="calculateQuantityAndPrice($event)"/>
                    <input id="row{{i}}" *ngIf="rowClicked" type="text" class="table-input" value="{{items[i].rowVal}}"/>
                </td>
            </tr>
            <tr>
                <td><span class="visible-hidden">0000 </span><input type="text" class="table-input" (keyup)="onKey($event, 5, 'rowClicked')"/></td>
                <td *ngFor="let colVal of utilityService.numSeriesArray.col5; let i = index;">
                    <span >{{colVal}}</span>
                    <input *ngIf="colClicked" type="text" class="table-input" value="{{items[i].colVal}}" (keyup)="calculateQuantityAndPrice($event)"/>
                    <input id="row{{i}}" *ngIf="rowClicked" type="text" class="table-input" value="{{items[i].rowVal}}"/>
                </td>
            </tr>
            <tr>
                <td><span class="visible-hidden">0000 </span><input type="text" class="table-input" (keyup)="onKey($event, 6, 'rowClicked')"/></td>
                <td *ngFor="let colVal of utilityService.numSeriesArray.col6; let i = index;">
                    <span >{{colVal}}</span>
                    <input *ngIf="colClicked" type="text" class="table-input" value="{{items[i].colVal}}" (keyup)="calculateQuantityAndPrice($event)"/>
                    <input id="row{{i}}" *ngIf="rowClicked" type="text" class="table-input" value="{{items[i].rowVal}}"/>
                </td>
            </tr>
            <tr>
                <td><span class="visible-hidden">0000 </span><input type="text" class="table-input" (keyup)="onKey($event, 7, 'rowClicked')"/></td>
                <td *ngFor="let colVal of utilityService.numSeriesArray.col7; let i = index;">
                    <span >{{colVal}}</span>
                    <input *ngIf="colClicked" type="text" class="table-input" value="{{items[i].colVal}}" (keyup)="calculateQuantityAndPrice($event)"/>
                    <input id="row{{i}}" *ngIf="rowClicked" type="text" class="table-input" value="{{items[i].rowVal}}"/>
                </td>
            </tr>
            <tr>
                <td><span class="visible-hidden">0000 </span><input type="text" class="table-input" (keyup)="onKey($event, 8, 'rowClicked')"/></td>
                <td *ngFor="let colVal of utilityService.numSeriesArray.col8; let i = index;">
                    <span >{{colVal}}</span>
                    <input *ngIf="colClicked" type="text" class="table-input" value="{{items[i].colVal}}" (keyup)="calculateQuantityAndPrice($event)"/>
                    <input id="row{{i}}" *ngIf="rowClicked" type="text" class="table-input" value="{{items[i].rowVal}}"/>
                </td>
            </tr>
            <tr>
                <td><span class="visible-hidden">0000 </span><input type="text" class="table-input" (keyup)="onKey($event, 9, 'rowClicked')"/></td>
                <td *ngFor="let colVal of utilityService.numSeriesArray.col9; let i = index;">
                    <span >{{colVal}}</span>
                    <input *ngIf="colClicked" type="text" class="table-input" value="{{items[i].colVal}}" (keyup)="calculateQuantityAndPrice($event)"/>
                    <input id="row{{i}}" *ngIf="rowClicked" type="text" class="table-input" value="{{items[i].rowVal}}"/>
                </td>
            </tr>            
        </table>       
        <div class="row highLowDiv" style="margin: 0;padding: 5px;">
            <div class="col-lg-3" style="position: relative;left: -30px;">
                <label>Transaction No/Bar Code</label>
            </div>
            <div class="col-lg-3">
                <input type="text"/>
            </div>
            <div class="col-lg-3" style="position: relative;left: 38px;">
                <button type="button" class="btnCss">Claim</button>                
            </div>
            <div class="col-lg-3" style="position: relative;left: 15px;">                
                <button type="button" class="btnCss">AdvanceDraw</button>
            </div>
        </div>
    </div>
    <!-- second div ends -->

    <!-- third right div with quantity and  points 10 input fields -->
    <div class="col-lg-2">
        <div class="row highLowDiv">
            <div class="col-lg-5">
                <span> Quantity</span>
            </div>
            <div class="col-lg-5">
                <span> Points</span>
            </div>
        </div>
        <div class="row highLowDiv" *ngFor="let k of objectKeys(object);let i =index">
            <div class="col-lg-5">
                <input *ngIf="i ==0" type="text" style="width: 85px;background-color: #ea9249;" value="{{finalQuantity}}"/>
                <input *ngIf="i>0" type="text" style="width: 85px;background-color: #ea9249;"/>
            </div>
            <div class="col-lg-5">
                <input *ngIf="i ==0" type="text"  style="width: 85px;background-color: #bd2f57;" value="{{finalPoints}}"/>
                <input *ngIf="i >0" type="text"  style="width: 85px;background-color: #bd2f57;" />
            </div>
        </div>
        <div class="row highLowDiv">
            <div class="col-lg-5">
                <input type="text" class="inputCss" value="{{finalQuantity}}"/>
            </div>
            <div class="col-lg-5">
                <input type="text"  class="inputCss" value="{{finalPoints}}"/>
            </div>
        </div>
    </div>
    <!-- third div ends -->
</div>