.highLowDiv {
    padding: 10px;
    margin: -5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: serif;
}

.borderAlign{
    border-right: 2px solid black;
    padding-right: 0px;
}

.delhiCity{
    background-color: "#156f88";
}
.mumbaiCity {
    background-color: "#948195";
}
.suratCity{
    background-color: "#d8e3e5";
}
.panjiCity{
    background-color: "#c6c7ca";
}
.jaipurCity{
    background-color: "#c3b3ab";
}
.chennCity{
    background-color: "#d3a697";
}
.ranchiCity{
    background-color: "#c5c7ce";
}
.koktaCity{
    background-color: "#c1b58c";
}
.bhopaCity{
    background-color: "#e1dad2";
}
.indoreCity{
    background-color: "#c2c8cc";
}

.printBtn {
    border: 2px solid black;
    background-color: #c6c874;
}
.resetBtn {
    border: 2px solid black;
    background-color:#687d87;
}

.table-input {
    border: 1px solid black;
    width: 100%;
}

.visible-hidden {
    visibility: hidden;
}

.btnCss {
    border: 1px solid black;
    width: 200px;
    background:none;
}

.inputCss {
    width: 85px;background:none;
}