<div class="row">
    <div class="col-sm-2 boxFirst" style="padding:0;">
        <div class="result-color">
            <div class="result-row"><span>ID</span>&nbsp;&nbsp;&nbsp;<span style="float: right;padding-right: 10px;">HR5392</span></div>
            <div class="result-row" style="padding-top:5px"></div>
            <div class="result-row" style="padding-top:5px"><span>Result</span>&nbsp;<span style="float: right;padding-right: 10px;">09:00 PM</span></div>
            <div class="result-row" style="padding-top:10px"></div>
            <div class="result-row color-red" style="font-size:20px;text-align:center"><span>14-Jun-2021</span></div>
        </div>
    </div>
    <div *ngFor="let numbers of selectedCitiesNumArray">
        <div class="col-sm-1">
            <div class='box delhi-color'><span>{{numbers.delhi}}</span></div>
        </div>
        <div class="col-sm-1">
            <div class='box mumbai-color'><span>{{numbers.mumbai}}</span></div>
        </div>
        <div class="col-sm-1">
            <div class='box surat-color'><span>{{numbers.surat}}</span></div>
        </div>
        <div class="col-sm-1">
            <div class='box panji-color'><span>{{numbers.panji}}</span></div>
        </div>
        <div class="col-sm-1">
            <div class='box jaipur-color'><span>{{numbers.jaipur}}</span></div>
        </div>
        <div class="col-sm-1">
            <div class='box chenn-color'><span>{{numbers.chenn}}</span></div>
        </div>
        <div class="col-sm-1">
            <div class='box ranchi-color'><span>{{numbers.ranchi}}</span></div>
        </div>
        <div class="col-sm-1">
            <div class='box kolkta-color'><span>{{numbers.kolkta}}</span></div>
        </div>
        <div class="col-sm-1">
            <div class='box bhopa-color'><span>{{numbers.bhopa}}</span></div>
        </div>
        <div class="col-sm-1">
            <div class='box indore-color'><span>{{numbers.indore}}</span></div>
        </div>
    </div>
</div>